<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        h1{
            display: flex;
            justify-content:center;
            margin: 50px;
        }
        #content{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>Sorry, this page isn't available.</h1>
    <p id="content">The link you followed may be broken, or the page may have been removed. Go back to Instagram.</p>
</body>
</html>